In [100]:
# pip install pandas

In [101]:
import pandas as pd

In [102]:
df = pd.read_csv("services.csv")

In [103]:
type(df)

pandas.core.frame.DataFrame

In [104]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [105]:
df[['service_areas','email','funding_sources']]

,service_areas,email,funding_sources
0,Colma,NaN,"City, County, Donations, Fees, Fundraising"
1,San Mateo County,NaN,"County, Federal, State"
2,San Mateo County,NaN,"County, Donations, Grants"
3,San Mateo County,NaN,"County, Donations, Grants"
4,San Mateo County,NaN,"County, Grants, State"
5,San Mateo County,NaN,"Fees, Fundraising, Grants, Dues"
6,"Belmont, Burlingame, East Palo Alto",NaN,"Donations, Fees, Grants"
7,"Belmont, East Palo Alto",NaN,"County, Donations"
8,San Mateo County,NaN,"City, County"
9,San Mateo County,NaN,City
10,San Mateo County,NaN,City
11,Daly City,NaN,"City, Donations, Federal, Grants, State"
12,San Mateo County,NaN,City
13,"Belmont, Burlingame, East Palo Alto",NaN,"Donations, Grants"
14,"Alameda County, San Mateo County",NaN,"Donations, Sales"
15,NaN,NaN,"Donations, Fees, Grants"
16,"Colma, Daly City, South San Francisco",NaN,Donations
17,East Palo Alto,NaN,"Donations, Grants"
18,"Belmont, Burlingame",NaN,"Donations, Grants"
19,NaN,NaN,NaN
20,San Mateo County,NaN,NaN
21,"Alameda County, San Mateo County",passports@example.org,"City, County, Federal, State"
22,"San Mateo County, Alameda County",NaN,"City, County, Federal, State"

In [106]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [107]:
pd.read_csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/customers/customers-100.csv")

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [108]:
url_data = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2023_totals.html")

In [109]:
url_data

[      Rk            Player Pos Age   Tm   G  GS    MP   FG   FGA  ...   FT%  \
 0      1  Precious Achiuwa   C  23  TOR  55  12  1140  196   404  ...  .702
 1      2      Steven Adams   C  29  MEM  42  42  1133  157   263  ...  .364
 2      3       Bam Adebayo   C  25  MIA  75  75  2598  602  1114  ...  .806
 3      4      Ochai Agbaji  SG  22  UTA  59  22  1209  165   386  ...  .812
 4      5      Santi Aldama  PF  22  MEM  77  20  1682  247   525  ...  .750
 ..   ...               ...  ..  ..  ...  ..  ..   ...  ...   ...  ...   ...
 700  535    Thaddeus Young  PF  34  TOR  54   9   795  108   198  ...  .692
 701  536        Trae Young  PG  24  ATL  73  73  2541  597  1390  ...  .886
 702  537    Omer Yurtseven   C  24  MIA   9   0    83   16    27  ...  .833
 703  538       Cody Zeller   C  30  MIA  15   2   217   37    59  ...  .686
 704  539       Ivica Zubac   C  25  LAC  76  76  2170  326   514  ...  .697

      ORB  DRB  TRB  AST STL BLK  TOV   PF   PTS
 0    100  228  328   50  31  30   59  102   508
 1    214  271  485   97  36  46   79   98   361
 2    184  504  688  240  88  61  187  208  1529
 3     43   78  121   67  16  15   41   99   467
 4     85  286  371   97  45  48   60  143   696
 ..   ...  ...  ...  ...  ..  ..  ...  ...   ...
 700   71   95  166   75  54   5   42   88   240
 701   56  161  217  741  80   9  300  104  1914
 702    8   15   23    2   2   2    4   16    40
 703   25   39   64   10   3   4   14   33    98
 704  236  520  756   77  29  98  117  219   818

 [705 rows x 30 columns]]

In [110]:
type(url_data)

list

In [111]:
len(url_data)

1

In [112]:
df2 = url_data[0]

In [113]:
df2.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,23,TOR,55,12,1140,196,404,...,.702,100,228,328,50,31,30,59,102,508
1,2,Steven Adams,C,29,MEM,42,42,1133,157,263,...,.364,214,271,485,97,36,46,79,98,361
2,3,Bam Adebayo,C,25,MIA,75,75,2598,602,1114,...,.806,184,504,688,240,88,61,187,208,1529
3,4,Ochai Agbaji,SG,22,UTA,59,22,1209,165,386,...,.812,43,78,121,67,16,15,41,99,467
4,5,Santi Aldama,PF,22,MEM,77,20,1682,247,525,...,.750,85,286,371,97,45,48,60,143,696

In [114]:
df2.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [115]:
df2.to_csv("NBA 2023 Players",index=False,columns=None) #it will save file to csv format

In [116]:
df2[['Rk','Player','Pos']].to_csv("NBA 2023 Players pos player")